/* declaring the sizing of the media */
* {
  box-sizing: border-box;
}

@media(max-width: 1024px) {
  html {
    font-size: 20px;
  }
}

@media(max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media(max-width: 480px) {
  html {
    font-size: 12px;
  }
}


/* this is for the entire app and background */
.App {
  background: rgb(238,174,202);
  background: linear-gradient(to bottom right, rgba(148,187,233,1) 0%,
            rgba(238,174,202,1) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2.5rem;
  margin-left: 1rem;
}

.footer {
  text-align: center;
  font-style: italic;
}

.community {
  display: flex;
  justify-content: space-between;
  padding: 20rem;

}
